* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #000000, #434343, #a5a4a4);
 

  font-family: "Segoe UI", sans-serif;
}
/* Container styling */
.container {
  max-width: 1200px; /* 'lg' size from MUI */
  margin: 0 auto;
  padding: 0 16px;
}




/* Image styling */

.main_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
}
