.post-card {
  width: 280px;
  border-radius: 15px;
  border:  1px solid whitesmoke;
 box-shadow: 0 7px 12px rgba(203, 201, 201, 0.7);
  overflow: hidden;
  background-color: rgb(44, 44, 44);
  font-family: Arial, sans-serif;
  margin: 0.7rem auto;
  
  
}
.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1rem;
  justify-items: center;
  width: 700px;
 
}
.post-card:hover {
  transform: translateY(-10px); /* subtle lift */
 box-shadow: 0 7px 12px rgba(203, 201, 201, 0.7);
}



.post-image {
  height: 190px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.post-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  width: 100%;
  padding: 10px;
}

.post-overlay h3 {
  margin: 0;
  font-size: 16px;
}

.post-overlay p {
  margin: 6px 0 3px 0;
  font-size: 12px;
}
.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.menu-btn:hover {
  color: #ccc;
}

.post-body {
  padding: 1rem;
  color: azure;
}

.tags {
  font-size: 12px;
  color: rgb(211, 205, 205);
  margin-bottom: 0.5rem;
}

.title {
  font-size: 18px;
  margin: 0 0 1rem 0;
}

.message{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
}

.like-btn,
.delete-btn {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #c3c1c1;
  display: flex;
  align-items: center;
  gap: 4px;
}

.like-btn:hover,
.delete-btn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}


.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  color: white;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination-controls button {
  background-color: #007bff;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .posts-container {
    grid-template-columns: 1fr; /* Only 1 card per row */
    width: 90%; /* Use percentage for fluid layout */
  }
}
