/* AppBar styling */
.app-bar {
  position: static;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(203, 201, 201, 0.7);
  border: 2px solid #bdbdbd;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Typography (h2) */
.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgb(214, 213, 213);
  font-family: "Roboto", sans-serif;
}

.memoimg {
  font-size: 3rem;
  color: white;
  margin-left: 12px;
}

.brand-container {
  display: flex;
  align-items: center;
}

.toolbar {
  display: flex;
  justify-content: right;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatarIMG {
  width: 43px;
  height: 43px;
  background: linear-gradient(45deg, #4285f4, #34a853);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(251, 249, 249, 0.9);

  transition: background 0.3s, transform 0.3s;
  text-transform: uppercase;
  margin-right: 8px;
}

.avatarIMG:hover {
  transform: scale(1.05);
   box-shadow: 0 6px 16px rgba(150, 150, 150, 0.5);

  background: linear-gradient(45deg, #3367d6, #2e7d32);
}

.user-name {
  font-size: 16px;
  font-weight: 500;
  color: #f5f6f8;
}

.SignIn-button {
  background-color: #f5f6f8;
  box-shadow: 0 4px 12px rgba(251, 249, 249, 0.9);
  border: 2px solid #bdbdbd;
  color: black;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.SignIn-button:hover,
.avatar:hover {
  background-color: #e0e0e0;
  box-shadow: 0 6px 16px rgba(150, 150, 150, 0.5);
}
.popup {
  position: absolute;
  top: 81px;
  right: 15px;
  color: black;
  background: white;
  border: 1px solid #ccc;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 250px;
}

.popup-content h4 {
  margin: 0 0 10px;
  font-size: 18px;
}

.popup-content p {
  margin: 5px 0;
  font-size: 14px;
}

.close-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #0056b3;
}
