/* AppBar styling */
.app-bar {
  position: static;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(203, 201, 201, 0.7);
  border: 2px solid #bdbdbd;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Typography (h2) */
.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgb(214, 213, 213);
  font-family: "Roboto", sans-serif;
}

.memoimg {
  font-size: 3rem;
  color: white;
  margin-left: 12px;
}

.brand-container {
  display: flex;
  align-items: center;
}

.toolbar {
  display: flex;
  justify-content: right;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
 background-color: #f5f6f8;
  box-shadow: 0 4px 12px rgba(251, 249, 249, 0.9);
  color: rgb(9, 9, 9);
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.user-name {
  font-size: 16px;
  font-weight: 500;
}

.SignIn-button {
  background-color: #f5f6f8;
  box-shadow: 0 4px 12px rgba(251, 249, 249, 0.9);
  border: 2px solid #bdbdbd;
  color: black;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.SignIn-button:hover,
.avatar:hover {
  background-color: #e0e0e0;
  box-shadow: 0 6px 16px rgba(150, 150, 150, 0.5);
}