/* Main Form Container */
.Form_Container {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
  background-color: #7a7979;
  border-radius: 8px;
  border:  1px solid whitesmoke;
  box-shadow: 0 7px 12px rgba(203, 201, 201, 0.7);
}

/* Form Title */
.Form_Container h3 {
  font-size: 1.6rem;
  margin-bottom: 16px;
  text-align: center;
  color: #fdfbfb;
  font-family: "Segoe UI", sans-serif;
}

/* Form Fields Grouping */
.form_fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Each Input Field Wrapper */
.input_field {
  display: flex;
  flex-direction: column;
  position: relative;

}

/* Input Styling */
.input_field input[type="text"],
.input_field input[type="file"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  width: 100%;
  outline: none;
}

.input_field input:focus {
  border-color: #010101;
  outline: none;
}

/* Button Styling */
.input_field .btn {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.input_field .Submit_btn {
  background-color: #007bff;
}
.input_field .Cancel_btn {
  background-color: rgb(240, 44, 44);
}

.input_field label {
  position: absolute;
  top: 16px;
  left: 12px;
  color: #bbbbbb;
  background: white;
  padding: 0 4px;
  transition: 0.2s ease all;
  pointer-events: none;
  font-size: 16px;
}


.input_field input:focus + label,
.input_field input:not(:placeholder-shown) + label {
  top: -8px;
  left: 10px;
  font-size: 14px;
  color: #0d0d0d;
}
