.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  
}

.auth-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.avatar {
  width: 60px;
  height: 60px;
 background: linear-gradient(45deg, #4285F4, #34A853);
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lock-icon {
  color: white;
  font-size: 24px;
}

.auth-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  transition: all 0.3s ease;
  outline: none;
}

.auth-input:focus {
  border-color: #101010; /* Green border on focus */
  box-shadow: 0 0 5px rgba(231, 237, 231, 0.5); /* Subtle glow effect */
  background-color: #f9fff9; /* Optional: very light green */
}


.auth-button {
  width: 100%;
  padding: 10px;
 background: linear-gradient(45deg, #4285F4, #34A853);
  color: rgb(26, 26, 26);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.auth-button:hover {
  background: linear-gradient(45deg, #3367d6, #2e7d32);
  color: white;
  box-shadow: 0 4px 10px rgba(67, 160, 71, 0.4);
}

.switch-text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #555;
}

.switch-link {
  color: #e53935; 
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.switch-link:hover {
  color: #b71c1c; 
}

.google-login {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  
}
.google-auth-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(45deg, #4285F4, #34A853);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.google-auth-button:hover {
  background: linear-gradient(45deg, #3367d6, #2e7d32);
  box-shadow: 0 4px 10px rgba(66, 133, 244, 0.4);
}
